<div> <h4>Sample</h4> <a id="edit_sample_button" href="/xgds_sample/edit/sample/{{pk}}" class="btn btn-primary" target="_blank">Edit</a> </div>
	<table style="width:100%;">
		<tr>
			<th><label for="id_name">Name:</label></th>
			<td>{{name}}</td>
		</tr>
		<tr>
			<th><label for="id_name">Label #:</label></th>
			<td>{{label_number}}</td>
		</tr>
		<tr>
			<th><label for="id_place">Site:</label></th>
			<td>{{place_name}}</td>
		</tr>
		<tr>
			<th><label for="id_type">Sample Type:</label></th>
			<td>{{sample_type_name}}</td>
		</tr>
		<tr>
			<th><label for="id_collector">Collector:</label></th>
			<td>{{collector_name}}</td>
		</tr>
		<tr>
			<th><label for="id_collection_time">Collection Time:</label></th>
			<td>{{prettyTime collection_time collection_timezone}}</td>
		</tr>
		<tr>
			<th><label for="id_description">Description:</label></th>
			<td>{{description}}</td>
		</tr>
		<tr>
			<th><label for="id_vehicle">Vehicle:</label></th>
			<td>{{vehicle_name}}</td>
		</tr>
		<tr>
			<th><label for="id_latitude">Latitude:</label></th>
			<td>{{lat}}</td>
		</tr>
		<tr>
			<th><label for="id_longitude">Longitude:</label></th>
			<td>{{lon}}</td>
		</tr>
		<tr>
			<th><label for="id_altitude">Depth:</label></th>
			<td>{{depth}}</td>
		</tr>
	</table>
